.contact__icon {
    margin-right: 10px;
  }
  /* .mail::before{
    content: " ";
    background-image: url(data:./image/icon.svg#icon-envelop);
  } */
  
  .contact a:hover,
  .contact a:focus {
    fill: var(--agency-blue);
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .section {
    padding: 94px 0;
  }
  .contact__top {
    display: flex;
    align-items: baseline;
    margin: auto;
  }
  .contact__link {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .page-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--header-border);
  }
  .webstudio-top {
    display: block;
    padding: 24px 0 25px 15px;
    margin-right: 93px;
  }
  
  .navigation {
    display: flex;
    width: 254px;
    margin-right: 321px;
  }
  
  .navigation__item {
    margin-right: 46px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--secondary-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:focus,
  .navigation__link:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  
    color: var(--agency-blue);
  }
  
  .contact {
    display: flex;
    gap: 50px;
  }
  
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--agency-mediumgrey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:visited {
    color: var(--agency-mediumgrey);
  }
  .contact__link:hover,
  .contact__link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  
    color: var(--agency-blue);
  }
  .navigation .active {
    position: relative;
  }
  .navigation .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -28px;
    background: #2196f3;
    border-radius: 2px;
  }